body{
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    font-family: Arial;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 75vw;
    height: 75vh;
}
.answer-container {
    width: max-content;
    height: max-content;
}

div {
    margin: 0;
    padding: 0;
}
.answer-Form {
    width: max-content;
    height: max-content;
}
.grid-container {
    width: max-content;
    height: max-content;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
    padding: 0;
}

.grid-answer {
    min-width: 100px;
    min-height: 20px;
    width: max-content;
    height: max-content;
}

.question-container {
    width: max-content;
    height: max-content;
}

.radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    text-wrap: normal;
}

.radio__input {
    display: none;
}

.radio__radio {
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #d8e4e2;
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 2px;
}

.radio__radio::after{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: #8d99ae;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 150ms;
}

.radio__input:checked + .radio__radio::after{
    transform: scale(1);
}

.submit-input {
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 10px 10px 10px 10px;
    background: #d90429;
    color: white;
    transition: transform 250ms;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: .5px;
    text-align: center;
}

.submit-input:hover{
    cursor: pointer;
    transform: scale(1.15);
}

.difficulty {
    left: 0;
    top: 0;
    position: absolute;
}

.difficulty > p {
    margin: 1rem;
}

.btn {
    width: 100%;
    height: max-content;
    border-radius: 15px;
    background: #d90429;
    padding: .5rem;
    text-align: center;
    margin: 1rem;
    transition: transform 150ms ease-out;
}

.btn, .btn:hover{
    text-decoration: none;
    color: white;
}

.btn:hover{
    transform: scale(1.05);
}

