* {
    font-family: Arial;
}

.main-container {
    width: 95vw;
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid-container {
    width: max-content;
    height: max-content;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

.btn {
    width: 100%;
    height: max-content;
    border-radius: 15px;
    background: #d90429;
    padding: .5rem;
    text-align: center;

    transition: transform 150ms ease-out;
}

.btn, .btn:hover{
    text-decoration: none;
    color: white;
}

.btn:hover{
    transform: scale(1.05);
}

#table_id {
    display: none;
}