<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/game.css')}}">
    <title>Game</title>
    <script>
        function preventBack() {
            window.history.forward();
        }

        setTimeout("preventBack()", 0);

        window.onunload = function () { null };
    </script>
</head>
<body>
    <div class="difficulty">
        <p>Current difficulty: {{session['difficulty']}}</p>
        <a class="btn" href="/">Go back to the main page</a>
    </div>
    <div class="main-container flex">
        <span class="question-container">
            <p class="question">{{session['question']}}</p>
        </span>
        <div class="answer-container">
            <form class="answer-Form flex" action="/game" method="post">
                    <div class="grid-container">
                        <label for="1" class="radio">
                            <input type="radio" name="Transport" id="1" value="1" class="radio__input">
                            <div class="radio__radio"></div>
                            {{data[0]}}
                        </label>
                        <label for="2" class="radio">
                            <input type="radio" name="Transport" id="2" value="2" class="radio__input">
                            <div class="radio__radio"></div>
                            {{data[1]}}
                        </label>
                        <label for="3" class="radio">
                            <input type="radio" name="Transport" id="3" value="3" class="radio__input">
                            <div class="radio__radio"></div>
                            {{data[2]}}
                        </label>
                        <label for="4" class="radio">
                            <input type="radio" name="Transport" id="4" value="4" class="radio__input">
                            <div class="radio__radio"></div>
                            {{data[3]}}
                        </label>
                    </div>
            </form>
        </div>
        <Button class="submit-input" onclick="checkFormAndSubmit()">Senden</Button>
    </div>

    <script>
        function checkFormAndSubmit(){
            var form = document.querySelector(".answer-Form");
            var allRadio = document.querySelectorAll(".radio__input");
            var chosen = false;
            allRadio.forEach(element => {
               if(element.checked){
                   chosen = true;
               }
            });
            if(!chosen){
                alert("You must choose an Answer!");
                return;
            }
            form.submit();
        }
    </script>
</body>
</html>