<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Main Page</title>
    <script>
        function preventBack() {
            window.history.forward();
        }

        setTimeout("preventBack()", 0);

        window.onunload = function () { null };
    </script>
</head>
<body>
    <div class="main-container">
        <h1>Willkommen bei Wer wird Millionär!</h1>
        <div class="grid-container">
            <a class="btn-start" href="/game">Start Game</a>
            <a class="btn-questions" href="/questions">Go to Questions</a>
        </div>
    </div>

</body>

</html>