<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/questions.css')}}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
        function preventBack() {
            window.history.forward();
        }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>
<body>
    <div class="main-container">
        <h1>Hier stehen mal alle Fragen!</h1>
        <div class="grid-container">
            <a class="btn" href="/">Go back to the Home Page</a>
            <a class="btn" href="/game">Start a Game</a>
        </div>
        <table id="table_id" class="display">
        <thead>
            <tr>
                <th>Difficulty</th>
                <th>Question</th>
                <th>Answer 1</th>
                <th>Answer 2</th>
                <th>Answer 3</th>
                <th>Answer 4</th>
            </tr>
        </thead>
        <tbody>
            {% for q in data %}
            <tr>
                <td> {{q.level}}</td>
                <td> {{q.frage}}</td>
                <td> {{q.answer1}}</td>
                <td> {{q.answer2}}</td>
                <td> {{q.answer3}}</td>
                <td> {{q.answer4}}</td>
            </tr>
            {% endfor%}
        </tbody>
        </table>
    </div>
</body>


    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
</html>